include ../partials/header.pug
include ../partials/nav.pug

block content
  div.container
    if(message.length)
      div.alert=message
    h1 Signup
    div.row
      a.waves-effect.waves-light.btn(href="/auth/twitter") Continue with Twitter

    span Or sign up an account

    form(action="/auth/signup", method="POST")
      div.input-field
        input(id="name" type="text" name="user[name]")
        label(for="name") Name
      div.input-field
        input(id="username" type="email" name="user[username]")
        label(for="username") Email
      div.input-field
        input(id="password" type="password" name="user[password]")
        label(for="password") Password
      div.row
        input(class="btn btn-primary" type="submit" value="Sign Up")
      a(href="/auth/login") Already have an account? Login here

include ../partials/materializeScript.pug
