nav.color-primary
	div.nav-wrapper
		a.brand-logo.left(href="/")
			img(src="#")
			| Postr
		ul.right
			li: a(href="/auth/login") Login
.subnav
	.nav-wrapper.color-primary1
		ul
			li
				a.text-accent(href='#') Cat1
			li
				a.text-accent(href='#') Cat2
			li
				a.text-accent(href='#') Cat3
