header
	nav.color-primary
		div.nav-wrapper
			a.brand-logo.left(href="/")
				img(src="#")
				| Postr
			if currentUser
				ul.right
					li: a(href="/posters/new") New Poster
					li: a(href="/users/" + currentUser.id) Account
					li: a(href="/auth/logout") Logout
			else
				ul.right
					li: a(href="/auth/login") Login
	.subnav
		.nav-wrapper.color-primary1
			ul
				li
					a.text-accent(href='#') Cat1
				li
					a.text-accent(href='#') Cat2
				li
					a.text-accent(href='#') Cat3
