.subnav.nav-wrapper.color-primary2
		ul
			li.show-on-xs: a.center.button-collapse.show-on-xs.text-accent(href='#', data-activates='mobile-cat-menu') Categories
			li.hide-on-xs: a.text-accent(href='#thisWeek') This Week
			li.hide-on-xs: a.text-accent(href='#nextWeek') Next Week
			li.hide-on-xs: a.text-accent(href='#future') Future

		ul#mobile-cat-menu.side-nav
			li: a.text-accent(href='#thisWeek') This Week
			li: a.text-accent(href='#nextWeek') Next Week
			li: a.text-accent(href='#future') Future
