/*
### MATERIAL COLORS: ###
Primary:
		Blue Gray 500 === .blue-grey === #607d8b
		Blue Gray 700 === .blue-grey .darken-2 === #455a64
		Blue Gray 800 === .blue-grey .darken-3 === #37474f
Accent:
		Deep Orange A200  === .deep-orange .accent-2 === #ff6e40
*/

.color-primary {
	background-color: #607d8b;
}

.color-primary1 {
	background-color: #455a64;
}

.color-primary2 {
	background-color: #37474f;
}

.color-accent {
	background-color: #ff6e40;
}

.text-primary {
	color: #607d8b;
}

.text-primary1 {
	color: #455a64;
}

.text-primary2 {
	color: #37474f;
}

.text-accent {
	color: #ff6e40;
}

.subnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.subnav li {
    float: left;
}

.subnav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.subnav li a:hover {
    background-color: #37474f;
}

.bold {
	font-weight: bold;
}

.indent {
	margin-left: 10px;
}

.poster {
	width: 250px;
	height: auto;
}

.grow {
	transition: all .5s ease-in-out;
}

.grow:hover {
	transform: scale(1.5);
	z-index: 100;
