include ../partials/header
include ../partials/nav


//- .container
//- 	.row
//- 		.col.s12#poster.center
.section
.section
.container
	.row
		each poster in posters
			.col.s12.m4
				.card.grow
					.card-image
						a(href="/posters/" + poster.id): img(src=poster.imgurl)
					.card-action#heart
						a(href="#"): span.card-title.red-text &#10084;
						if poster.hearts
							span#hearts-total= " " + poster.hearts
						else
							span#hearts-total= " 0"
						span.hide#id #{poster.id}

include ../partials/materializeScript
script(type="text/javascript" src="/javascripts/index.js")
