include ../partials/header
include ../partials/nav


//- .container
//- 	.row
//- 		.col.s12#poster.center
.section
.section
.container#wrapper
	.row#columns
		each poster in posters
			.col.pin
				.card
					.card-image
						a(href="/posters/" + poster.id): img(src=poster.imgurl)
					.card-action#heart
						a(href="#"): span.card-title.red-text &#10084;
						span#hearts-total= " " + poster.hearts
						span.hide#id #{poster.id}
						if poster.starting < today && poster.ending > today
							span.indent.center.red-text HAPPENING NOW!
.section


include ../partials/materializeScript
script(type="text/javascript" src="/javascripts/index.js")
